body {
    background-color: lightgray;
}

h1 {
    color: #017ed5;
}
.h2Color {
    color: brown;
}

h6 {
    color: darkred;
}

p {
    color: darkgreen;
}

.space {
    margin: 20px auto;
    width: 50%;
}

img {
    width: 100%;
}

.table-content {
    margin: 0 auto;
    width: 50%
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #00ea8d;
    color: black;
}